Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^(.*/|)[\s%20]+(.+)$ $1$2 [L]


RewriteRule ^(.+?)[\s%20]+(/.*|)$ $1$2 [L]

RewriteRule ^([^\.]+)$ $1.html [NC,L]
